.navbar {
  margin: auto;
  width: 1128px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: -1px;
}

.backicon {
  display: none;
}

.navbar .wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar .wrapper > .image {
  display: none;
}

.navbar .logo {
  margin-right: 12px;
  cursor: pointer;
}

.navbar .logo img {
  width: 34px;
}

.navbar form {
  width: 280px;
  position: relative;
}

.navbar form input {
  width: 100%;
  border-radius: 2px;
  height: 34px;
  background-color: #e1e9ee;
  border: none;
  font-size: 1.4rem;
  font-weight: 400;
  padding: 0 0 0 2.8rem;
  outline: none;
  color: #8a98a1;
}
.navbar form #search {
  position: absolute;
  width: 30px;
  top: 0;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar form #search .searchblue {
  display: none;
}

.navbar form #search .search2 {
  display: none;
}

#search img {
  width: 1.2rem;
}
.navbar form input:focus {
  background-color: #ffffff !important;
  padding: 0 3.5rem 0 0.8rem !important;
  color: unset;
}

.navbar form input:focus ~ #search {
  right: 0;
  width: 40px;
  background-color: #e1e9ee;
  border-radius: 0 2px 2px 0;
}

.navbar form input:focus ~ #search .search {
  display: none;
}

.navbar form input:focus ~ #search .searchblue {
  display: inline;
}

.navbar form input:focus ~ #search img {
  width: 1.6em;
}

#overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 52px;
  left: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
}

/* --------Nav---------- */

.myimage {
  border-right: 1px solid #5c6f7c;
  position: relative;
  margin-top: -1px;
  padding-top: 2px;
}

.myimage a .image img {
  border: 1px solid #1d3e57;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}

nav ul li {
  min-width: 8rem;
  position: relative;
  transition: transform 0.2s ease-in-out;
}

nav ul li,
nav ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

nav ul li a {
  width: 100%;
  height: 52px;
}

nav ul li a svg {
  transition: color 0.2s ease-in-out;
}

nav ul li:nth-child(1) a svg {
  color: #ffffff;
}

nav ul li:nth-child(1) a::after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  border-bottom: 2px solid #fff;
}

nav ul li:hover a svg {
  color: white;
}

nav ul li a p {
  position: relative;
  top: 5px;
}

.subheading {
  position: relative;
  top: -5px;
  display: flex;
  flex-direction: row;
}

.subheadings {
  position: relative;
  top: -8px;
  display: flex;
  flex-direction: row;
}

nav ul li a {
  color: #c7d1d8;
  text-decoration: none;
}

.dropicon {
  position: relative;
  top: 6px;
  left: 4px;
}

.lastnav a p {
  top: 0px;
  color: #dccea4;
}

.lastnav a:hover p {
  text-decoration: underline;
}

.navbar .wrapper > .message {
  display: none;
}

@media only screen and (max-width: 750px) {
  .backicon {
    padding: 3px 5px 0 0;
  }

  .backicon svg {
    color: rgba(0, 0, 0, 0.6);
  }

  .navbar form input:focus ~ #search {
    display: none;
  }

  #overlay {
    background-color: white;
    top: 48px;
  }
  .navbar .wrapper > .image {
    display: initial;
  }

  .navbar .logo {
    display: none;
  }
  nav {
    display: none;
  }
  .navbar .wrapper {
    width: 100%;
  }
  .navbar .wrapper > .message {
    display: initial;
    color: white;
    padding: 0 10px;
  }
  .navbar form {
    width: 100%;
    margin-right: 8px;
  }
  .navbar .wrapper img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
  }
  .navbar .wrapper .image {
    width: 32px;
    height: 30px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 16px;
  }
  .navbar form input {
    height: 32px;
    font-size: 1.6rem;
  }
  .navbar form #search .search {
    display: none;
  }
  .navbar form #search .search2 {
    display: initial;
  }
  .navbar form #search {
    margin: 0 4px 0 2px;
  }
  .navbar form #search img {
    width: 1.5rem;
  }
}
